.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.some-space {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.new-member {
  padding-top: 20px;
}
